.jumbotron {
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-bottom: 0;
    background-color: #fff;
}
@media (min-width: 768px) {
    .jumbotron {
        padding-top: 6rem;
        padding-bottom: 6rem;
    }
}

.jumbotron p:last-child {
    margin-bottom: 0;
}

.jumbotron h1 {
    font-weight: 300;
}

.jumbotron .container {
    max-width: 40rem;
}

footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

footer p {
    margin-bottom: .25rem;
}

footer.text-muted div.row{
    background-color: #9933ff;
}
a.footer-nav-link{
    color: white;
}
.footerprivacy{
    color: white;
}
.footer_copy_right{
    color: white;
}
.btn-outline-success:hover {
    color: #fff;
    background-color: #9933ff;
    border-color: #9933ff;
}
.btn-outline-success {
    color: #9933ff;
    border-color: #9933ff;
}
/*#carouselExampleCaptions{*/
/*    height: 800px;*/
/*    color: black;*/
/*}*/
